@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
	background: rgb(244, 240, 240);
}

.my-custom-bg-class{
	background-image: url('assets/logo/slide_logo.webp');
	border-radius: 10px;
	background-repeat: no-repeat;
	background-size: cover;
}

.lable {
	background: linear-gradient(to right,#ef3006,#c60004);
	border-radius: 20px;
    display: inline-block;
    padding-right: 8px;
	width: 150px;
}

.p_lable {
	color: #fff;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-size: 10px;
    line-height: 16px;
    margin-left: 3px;
    overflow: hidden;
    padding: 4px 0 0 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-line-clamp: 2;
    text-transform: uppercase;
	position: relative;
	top: -1px;
	left: 8px;
}

.font_product {
	font:	14px/18px Arial,Helvetica,sans-serif
}

.price {
	color: #d0021c;
    font-size: 18px;
    margin-bottom: 8px;
	font-weight: bold;
}

.priec_sale {
	color: #eb5757;
    background: #fff0e9;
    border-radius: 4px;
    padding: 1px 2px 2px 2px;
    margin-left: 7px;
    font-size: 14px;
}

.price_discount {
	margin: 0 7px 0 0 !important;
    color: #a4a4a4 !important;
	font-size: 14px;
    line-height: 17px;
    text-decoration-line: line-through;
}

.weekOfGold {
	height: 1200px;
	background-image: url('assets/logo/publicpreview-1200x838.png');
	background-color: #00a63b;
	margin: 16px;
	border-radius: 10px;
}

.prd-promo__title  {
	display: block;
    overflow: hidden;
    color: #fff;
    font-weight: 700;
    font-size: 45px;
    line-height: 40px;
    letter-spacing: 2px;
    padding: 26px 0;
    text-align: center;
    height: unset;
}

.seeall {
	display: block;
    overflow: hidden;
    background: #fff;
    border-radius: 4px;
    text-align: center;
    padding: 15px 20px;
    color: #333;
    margin: 5px auto 15px;
    width: 370px;
    height: 48px;
	margin-top: 10px;
}

.seeall span::before {
	content: '';
    position: absolute;
    border-top: 2px solid #666;
    border-left: 2px solid #666;
    height: 5px;
    width: 5px;
    right: -10px;
    top: 10px;
    transform: rotate(135deg);
}

.custom-scroll-container {
    overflow-y: auto; /* Enable vertical scrolling */
    scrollbar-width: thin; /* Set the width of the scrollbar */
    scrollbar-color: #333 #eee; /* Set the color of the scrollbar (track and thumb) */
  }

  .custom-scroll-container::-webkit-scrollbar {
    width: 6px; /* Set the width of the scrollbar */
  }

  .custom-scroll-container::-webkit-scrollbar-thumb {
    background-color: #333; /* Set the color of the thumb */
  }

  .custom-scroll-container::-webkit-scrollbar-track {
    background-color: #eee; /* Set the color of the track */
  }